<section>
    <div class="container">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-md-4 text-uppercase pt-2" style="width: 400px;">
                <a href="/admin/signup">
                    <div class="me h1">
                        Add admin
                    </div>
                </a>
                <a href="/admin/home/addMember">
                    <div class="me h1">
                        Add Team Members
                    </div>
                </a>
                <a href="/admin/home/add-portfolio">
                    <div class="me h1">
                        Add Portfolio Images
                    </div>
                </a>
                <a href="/admin/schedules">
                    <div class="me h1">
                        Schedules
                    </div>
                </a>
            </div>
            <div class="col-md-8 verticalLine">

                <div class="" style="overflow-x:auto;">

                    <table class="table shadow-lg">
                        <thead>
                            <tr>
                                <!-- <th scope="col">No</th> -->
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Event type</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {{#each products}} -->
                            <% details.forEach((detail)=> { %>

                                <tr>
                                    
                                    <% for (var i=0; i < detail.eventdetail.length; i++) { %>
                                       
                                        <td>
                                            <%= detail.userdetail[0].name %>
                                        </td>

                                        <td>
                                            <%= detail.userdetail[0].email %>
                                        </td>
                                        
                                        <td>
                                            <%= detail.eventdetail[i].eventType %>
                                        </td>

                                        <td>
                                            <%= detail.eventdetail[i].date %>
                                        </td>
                                        <td><a href="/admin/home/view-details/<%= detail.userdetail[0]._id %>/<%= detail.eventdetail[i]._id %> "
                                                class="btn btn-info">View</a></td>

                                        <td><a href="/admin/home/view-details-reject/<%= detail._id %>/<%= detail.eventdetail[i]._id %>" class="btn btn-danger"
                                                onclick="return confirm('do you wnt to delete {{this._id}}')">Delete
                                                </a>
                                        </td>
                                </tr>
                                <% } %>

                                    <% }) %>
                                        <!-- {{/each}} -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<style>
    .me {
        font-size: 20px;
        color: white;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: #ffbb33;
        border-radius: 2%;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.me:hover {
  background-color: #575151;
  color: #f0ad4e;

}
a{
    text-decoration: none;
}
body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
</style>